*{
    margin: 0;
    padding: 0;
}

.first{
    border: 1px solid black;
    width: 800px;
    height: 800px;
    transition-delay: 1.5s;
}
.first:active{
    background-color: red;
}

.second{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    transition-delay: 1s;
}
.second:active{
    background-color: yellow;
}

.third{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    transition-delay: 0.5;
}
.third:active{
    background-color: green;
}